@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap");

body {
    background-color: ghostwhite;
    font-family: "Rajdhani", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.melange {
    color: dimgray;
}

.logo {
    height: 300px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin: 12px;
    font-family: "Rajdhani", sans-serif;
    border: 0px 0px 2px 0px solid black;
    background-color: white;
}

button,
.abuttons {
    display: flex;
    border-radius: 5px;
    color: lightgray;
    text-decoration: none;
    background-color: darkgrey;
    border: 2px solid black;
    text-align: center;
    display: inline-block;
    font-family: "Rajdhani", sans-serif;
    margin: 5px;
}
button:hover,
a:hover {
    color: gold;
    background-color: honeydew;
    text-decoration: none;
}

.input {
    border-color: dimgrey;
    border-style: solid;
    border-width: 0 0 2px 0;
    padding: 5px;
    outline: none;
}
.profile-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 30vmin;
    width: 20vmin;
}

.default-picture {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
}

.profile-picture {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 100%;
}

#welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menue {
    position: fixed;
    top: 20px;
    right: 10px;
    background-color: teal;
}

input[type="radio"] {
    display: none;
}

.star {
    cursor: pointer;
    color: color 200ms;
}
