@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap");

body {
    background-color: ghostwhite;
    font-family: "Rajdhani", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    text-align: center;
    font-size: 50px;
}

.logoheader {
    width: 220px;
    height: 150px;
    position: absolute;
    left: 15px;
    object-fit: cover;
}

.melange {
    color: dimgray;
}

.logo {
    height: 300px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin: 12px;
    font-family: "Rajdhani", sans-serif;
    border: 0px 0px 2px 0px solid black;
    background-color: white;
}

.biocontainer {
    margin: 10px;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 5px;
    width: 150px;
}

button,
.abuttons {
    display: flex;
    border-radius: 5px;
    color: lightgray;
    text-decoration: none;
    background-color: darkgrey;
    border: 2px solid black;
    text-align: center;
    display: inline-block;
    font-family: "Rajdhani", sans-serif;
    margin: 5px;
}
button:hover,
a:hover {
    color: black;
    background-color: whitesmoke;
    text-decoration: none;
}

.input {
    border-color: dimgrey;
    border-style: solid;
    border-width: 0 0 2px 0;
    padding: 5px;
    outline: none;
}
.profile-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 30vmin;
    width: 20vmin;
}

.default-picture {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
    cursor: copy;
}

.profile-picture {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
    cursor: copy;
}

#welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menue {
    position: fixed;
    top: 70px;
    right: 15px;
}

input[type="radio"] {
    display: none;
}

.star {
    cursor: pointer;
    color: color 200ms;
}
ul {
    list-style: none;
}

.chatwindow {
    display: flex;
    flex-direction: column;
    justify-content: left;
    height: 30vmin;
    width: 100vmin;
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 2px;
}
.chatwindow > p {
    margin: 0;
    padding: 0;
}
.lifriends {
    display: flex;
    flex-direction: column;
}
